* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(31, 31, 36);
    color: rgb(255, 255, 255);
    font-family: 'Raleway', monospace;
    font-size: 16px;
    line-height: 1.5;
}

/*
body::-webkit-scrollbar {
    width: 10px;

}
*/
header {
    background-color: rgb(32, 31, 36);
    padding: 10px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

.header-heading {
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}

nav li {
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar-list ul :hover {
    scale: 1.1;
    transition: 0.3s;
    /* text-decoration: underline; */
    text-underline-offset: 4px;
    color: #007bff;
}

#main {
    width: 50vw;
    margin: 0px auto;
}

.section {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#aboutus {
    flex-direction: column;
}

#skills {
    flex-direction: column;
}

#skills li {
    text-align: center;
}

.section-heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.container {
    font-size: 20px;
    text-align: center;
}

/* .photo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img {
    height: auto;
    max-width: 100%;
    box-shadow: #bbbbbb 0px 0px 4px 2px;
} */

.about {
    color: rgb(255, 255, 255);
}

.about-info {
    padding: 10px 0px;
}

.society {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    display: inline-block;
}

.society:hover {
    color: rgb(195, 182, 67);
    text-decoration: underline;
    text-underline-offset: 4px;
    scale: 1.05;
}

#skills ul {
    list-style-type: none;
}

#skills li {
    line-height: 2.5;
}

#contact {
    flex-direction: column;
}

#contact .section-heading {
    padding-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-section {
    padding: 6px;
    width: 90%;
}

#box-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#box-2 {
    width: 100%;
}

#box-3 {
    width: 100%;
}

.name-email {
    width: 49.4%;
}

.form-section input {
    height: 50px;
    display: block;
    margin: auto;
    width: 100%;
    
    background-color: #2d2f36;
    color: #8d8d8d;
    border-radius: 5px;
}

.form-section textarea {
    width: 100%;
    height: 160px;

    background-color: #2d2f36;
    color: #8d8d8d;

    border-radius: 5px;
}

.form-section input,
.form-section textarea,
#box-submit #submit {
    padding: 10px;
    font-size: 1.05em;
    font-weight: 600;
    font-family: 'Raleway', monospace;
    resize: none;
}

#submit {
    margin-top: 25px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(45, 45, 53);
    width: 18vw;
    height: 45px;
    border-radius: 4px;
    transition: 0.3s;
    display: inline-block   ;
}

#box-submit :hover {
    scale: 1.02;
    background-color: #8d8d8d;
    color: #1d2326;
    cursor: pointer;
}
/* 
footer {
    font-size: large;
    background-color: black;
    color: #ddd;
}

footer .footercontainer {
    margin: 0px 20px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weblinks {
    display: flex;
    margin-left: -30px;
}

.footercontainer .weblinks a{
    padding: 0px 30px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.footercontainer .weblinks a :hover {
    scale: 1.3;
    color: bisque;
    transition: 0.4s;
} */
footer {
    color: rgb(61, 61, 70);
    padding: 20px;
    text-align: center;
}

.footer-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
}

.weblinks {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.weblinks div {
    margin: 0 10px;
}

.weblinks a {

    color: rgb(61, 61, 70);
    display: block;
    font-size: 1.7em;
    transition: color 0.2s ease-in-out;
}

.weblinks a:hover {
    color: #007bff;
    scale: 1.2;
    transition: 0.3s;
}

/* .footer-wrapper div:last-child {
    margin-top: 20px;
    font-size: 0.8em;
    color: #555;
  } */

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;

    }

    .photo {
        width: 90%;
    }

    .about {
        width: 90%;
    }
}

/* 
#ball, #circle {
    top: 0;
    left: 0;
    z-index: 9;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-40px, -40px);
  }
  #ball {
    width: 10px;
    height: 10px;
    background-color: #ff6847;
  }
  #circle {
    width: 40px;
    height: 40px;
    border: 1px solid #f9cabc;
    transition: background-color .3s, border .3s, opacity .3s;
  }
  #circle.cotton-active {
    background-color: #333;
    border: 1px solid #333;
    opacity: .6;
  }
  
  // models settings 
  .pill-btn {
    display: inline-block;
    min-width: 80px;
    text-align: center;
    border-radius: 25px;
    color: #fff;
    background-color: #ff9c85;
    padding: 14px 40px;
    text-decoration: none;
  } */