* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
}

::selection {
    background-color: #007bff;
    color: #000000;
    text-shadow: 2px 2px 10px #1eff00;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 8vh;
}

body {
    /* background-color: yellow; */
    background-color: rgb(31, 31, 36);
    color: rgb(255, 255, 255);
    font-family: 'Raleway', monospace;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: rgb(31, 31, 36);
    padding: 10px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 8vh;
    z-index: 999;
}

.header-heading {
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;

    font-size: 18px;
    font-weight: bold;
}

nav li {
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar-list ul :hover {
    scale: 1.1;
    transition: 0.3s;
    /* text-decoration: underline; */
    text-underline-offset: 4px;
    color: #007bff;
}

#main {
    width: 100%;
}

.section {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#aboutus_2 {
    display: flex;
}

.aboutus_div {
    margin-top: 8vh;
    width: 50%;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
} 

#skills {
    margin-top: 40px;
}

.section-heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.container {
    font-size: 20px;
    text-align: center;
}

.grid_container {
    max-width: 1200px;
}

#grid_container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
    width: 100%;
}

.grid2_1 {
    grid-column: span 1;
}

.grid2_2 {
    grid-column: span 3;
}

#experiments {
    margin-top: 50px;
}

#grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.grid_item {
    background-color: rgb(0 0 0 / 15%);
    border-radius: 10px;
    padding: 30px 20px;
    transition: 0.5s;
    
}

.grid_item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(51, 51, 53);
    cursor: pointer;
    color: rgb(213, 198, 60);;
}

.grid_item1 {
    grid-column: span 2;
}

.grid_item2 {
    grid-column: span 1;
}

.grid_item3 {
    grid-column: span 2;
    grid-row: span 2;
}

.grid_item4 {
    grid-column: span 2;
}


/* .photo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img {
    height: auto;
    max-width: 100%;
    box-shadow: #bbbbbb 0px 0px 4px 2px;
} */

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Libre Baskerville', Georgia;
}

.card {
    width: 350px;
    min-height: 450px;
    margin: 10px;
    padding: 40px;
    /* position: relative; */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0 0 0 / 15%)
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(51, 51, 53);
    cursor: pointer;
}

.card_heading {
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Raleway', monospace;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.card_image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: transform 0.5s;

}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s;
    border-radius: 10px;
}

.card_info {
    text-align: center;
    transition: 0.5s;
}

.about {
    color: rgb(255, 255, 255);
}

.about-info {
    padding: 10px 0px;
}

.society {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    display: inline-block;
}

.society:hover {
    color: rgb(213, 198, 60);
    text-decoration: underline;
    text-underline-offset: 4px;
    scale: 1.05;
}

#skills ul,
#experiments ul {
    list-style-type: none;
}

#skills ul,
#experiments ul {
    line-height: 2.5;
    text-align: center;
}

#contact {
    max-width: 60vw;
    margin: 0px auto;
}

#contact .section-heading {
    padding-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-section {
    padding: 6px;
    width: 90%;
}

#box-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#box-2 {
    width: 100%;
}

#box-3 {
    width: 100%;
}

.name-email {
    width: 49.4%;
}

.form-section input {
    height: 50px;
    display: block;
    margin: auto;
    width: 100%;

    background-color: #2d2f36;
    color: #8d8d8d;
    border-radius: 5px;
}

.form-section textarea {
    width: 100%;
    height: 160px;

    background-color: #2d2f36;
    color: #8d8d8d;

    border-radius: 5px;
}

.form-section input,
.form-section textarea,
#box-submit #submit {
    padding: 10px;
    font-size: 1.05em;
    font-weight: 600;
    font-family: 'Raleway', monospace;
    resize: none;
}

#submit {
    margin-top: 25px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(45, 45, 53);
    width: 18vw;
    height: 45px;
    border-radius: 4px;
    transition: 0.3s;
    display: inline-block;
}

#box-submit :hover {
    scale: 1.02;
    background-color: #8d8d8d;
    color: #1d2326;
    cursor: pointer;
}

/* 
footer {
    font-size: large;
    background-color: black;
    color: #ddd;
}

footer .footercontainer {
    margin: 0px 20px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weblinks {
    display: flex;
    margin-left: -30px;
}

.footercontainer .weblinks a{
    padding: 0px 30px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.footercontainer .weblinks a :hover {
    scale: 1.3;
    color: bisque;
    transition: 0.4s;
} */
footer {
    color: rgb(61, 61, 70);
    padding: 20px;
    text-align: center;
}

.footer-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
}

.weblinks {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.weblinks div {
    margin: 0 10px;
}

.weblinks a {

    color: rgb(61, 61, 70);
    display: block;
    font-size: 1.7em;
    transition: color 0.2s ease-in-out;
}

.weblinks a:hover {
    color: #007bff;
    scale: 1.2;
    transition: 0.3s;
}

/* .footer-wrapper div:last-child {
    margin-top: 20px;
    font-size: 0.8em;
    color: #555;
  } */

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;

    }
/* 
    .card {
        width: 90%;
    } */

    .photo {
        width: 90%;
    }

    .about {
        width: 90%;
    }

    #box-1 {
        flex-direction: column;
    }

    .name-email {
        width: 100%;
    }

}

/* 
#ball, #circle {
    top: 0;
    left: 0;
    z-index: 9;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-40px, -40px);
  }
  #ball {
    width: 10px;
    height: 10px;
    background-color: #ff6847;
  }
  #circle {
    width: 40px;
    height: 40px;
    border: 1px solid #f9cabc;
    transition: background-color .3s, border .3s, opacity .3s;
  }
  #circle.cotton-active {
    background-color: #333;
    border: 1px solid #333;
    opacity: .6;
  }
  
  // models settings 
  .pill-btn {
    display: inline-block;
    min-width: 80px;
    text-align: center;
    border-radius: 25px;
    color: #fff;
    background-color: #ff9c85;
    padding: 14px 40px;
    text-decoration: none;
  } */